@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<div class="image">
	
        <img style="width:100%" src="~/img/image2.jpeg" alt="travel image"/>
	
</div>-->