.section {
    min-height: 1000px;
    overflow: hidden;
    position: relative;
    padding-top: 80px;
}
nav {
    padding-top: 20px;
}
th {
    background-color: gray;
    height: 50px;
}
table {
    margin-top: 20px;
    width: 100%;
    margin-left: 10px;
}
.create {
    margin-top: 30px;
}
body {
    background-image: url("../wwwroot/img/image2.jpeg");
    background-repeat: round;
}